$PRIMARY: #009999;
$PRIMARY_DARK: #006969;
$SECONDARY: #424242;
$SECONDARY_ALT: #424242;

$WARNING: #e74c3c;
$INFO: #6f6f6f;
$EMPTY: #bdbdbd;
$SITE_FILL: #c8c8c8;

$TITLE_WHITE: #ffffff;
$TITLE_BLACK: #000000;


$RED_LINE: #ff0000;
$SELECTION: #ffff00;